<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysComplaintOrderMapper">
    
    <resultMap type="com.ruoyi.system.domain.SysComplaintOrder" id="SysComplaintOrderResult">
        <id property="issueId" column="ISSUE_Id" />
        <result property="issuerName" column="Issuer_Name" />
        <result property="issuerEmail" column="Isssuer_Email" />
        <result property="issueDetails" column="Issue_details" />
        <result property="issuerPhone" column="Issuer_Phone"/>
        <result property="facilityGuyId" column="facility_guy_id" />
        <result property="date" column="date" jdbcType="TIMESTAMP"/>
        <result property="facilityGuysEmail" column="facility_guys_email" />
        <result property="facilityGuysName" column="facility_guys_name" />
        <result property="facilityGuyMobile" column="facility_guy_mobile" />
        <result property="facilityGuySupervisor" column="facility_guy_superviosr" />
        <result property="resultMessage" column="result_message" />
        <result property="processingStatus" column="processing_status" />
        <result property="powerAppsId" column="__PowerAppsId__" />
    </resultMap>
    
    <sql id="selectComplaintOrderVo">
        select ISSUE_Id, Issuer_Name, Isssuer_Email, Issue_details, Issuer_Phone, facility_guy_id, date_format(date, '%Y-%m-%d %H:%i:%s') as date, facility_guys_email, facility_guys_name, facility_guy_mobile, facility_guy_superviosr, result_message, processing_status, __PowerAppsId__
        from sys_complaint_order
    </sql>
    
    <!-- 查询条件 -->
    <sql id="sqlwhereSearch">
        <where>
            <if test="issueId != null">
                and ISSUE_Id = #{issueId}
            </if>
            <if test="issuerName != null and issuerName != ''">
                and Issuer_Name = #{issuerName}
            </if>
        </where>
    </sql>
    
    <select id="selectComplaintOrder" parameterType="com.ruoyi.system.domain.SysComplaintOrder" resultMap="SysComplaintOrderResult">
        <include refid="selectComplaintOrderVo"/>
        <include refid="sqlwhereSearch"/>
        order by date desc
    </select>
    
    <select id="selectComplaintOrderList" parameterType="com.ruoyi.system.domain.SysComplaintOrder" resultMap="SysComplaintOrderResult">
        <include refid="selectComplaintOrderVo"/>
        <where>
            <if test="issuerName != null and issuerName != ''">
                AND Issuer_Name like concat('%', #{issuerName}, '%')
            </if>
            <if test="issueDetails != null and issueDetails != ''">
                AND Issue_details like concat('%', #{issueDetails}, '%')
            </if>
            <if test="processingStatus != null and processingStatus != ''">
                AND processing_status = #{processingStatus}
            </if>
            <if test="issuerEmail != null and issuerEmail != ''">
                AND Isssuer_Email like concat('%', #{issuerEmail}, '%')
            </if>
            <if test="issuerPhone != null and issuerPhone != ''">
                AND Issuer_Phone like concat('%', #{issuerPhone}, '%')
            </if>
            <if test="facilityGuyId != null and facilityGuyId != ''">
                AND facility_guy_id like concat('%', #{facilityGuyId}, '%')
            </if>
            <if test="facilityGuysEmail != null and facilityGuysEmail != ''">
                AND facility_guys_email like concat('%', #{facilityGuysEmail}, '%')
            </if>
            <if test="facilityGuysName != null and facilityGuysName != ''">
                AND facility_guys_name like concat('%', #{facilityGuysName}, '%')
            </if>
            <if test="facilityGuyMobile != null and facilityGuyMobile != ''">
                AND facility_guy_mobile like concat('%', #{facilityGuyMobile}, '%')
            </if>
            <if test="facilityGuySupervisor != null and facilityGuySupervisor != ''">
                AND facility_guy_superviosr like concat('%', #{facilityGuySupervisor}, '%')
            </if>
            <if test="resultMessage != null and resultMessage != ''">
                AND result_message like concat('%', #{resultMessage}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and date_format(date,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(date,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
        order by date desc
    </select>
    
    <select id="selectComplaintOrderById" parameterType="String" resultMap="SysComplaintOrderResult">
        <include refid="selectComplaintOrderVo"/>
        where ISSUE_Id = #{issueId}
        order by date desc
    </select>
    
    <insert id="insertComplaintOrder" parameterType="com.ruoyi.system.domain.SysComplaintOrder">
        insert into sys_complaint_order (
            ISSUE_Id, Issuer_Name, Isssuer_Email, Issue_details, Issuer_Phone, facility_guy_id, date, facility_guys_email, facility_guys_name, facility_guy_mobile, facility_guy_superviosr, result_message, processing_status, __PowerAppsId__
        ) values (
            #{issueId}, #{issuerName}, #{issuerEmail}, #{issueDetails}, #{issuerPhone}, #{facilityGuyId}, #{date, jdbcType=TIMESTAMP}, #{facilityGuysEmail}, #{facilityGuysName}, #{facilityGuyMobile}, #{facilityGuySupervisor}, #{resultMessage}, #{processingStatus}, #{powerAppsId}
        )
    </insert>
    
    <update id="updateComplaintOrder" parameterType="com.ruoyi.system.domain.SysComplaintOrder">
        update sys_complaint_order 
        <set>
            <if test="issuerName != null and issuerName != ''">Issuer_Name = #{issuerName},</if>
            <if test="issuerEmail != null and issuerEmail != ''">Isssuer_Email = #{issuerEmail},</if>
            <if test="issueDetails != null and issueDetails != ''">Issue_details = #{issueDetails},</if>
            <if test="issuerPhone != null and issuerPhone != ''">Issuer_Phone = #{issuerPhone},</if>
            <if test="facilityGuyId != null and facilityGuyId != ''">facility_guy_id = #{facilityGuyId},</if>
            <if test="date != null">date = #{date, jdbcType=TIMESTAMP},</if>
            <if test="facilityGuysEmail != null and facilityGuysEmail != ''">facility_guys_email = #{facilityGuysEmail},</if>
            <if test="facilityGuysName != null and facilityGuysName != ''">facility_guys_name = #{facilityGuysName},</if>
            <if test="facilityGuyMobile != null and facilityGuyMobile != ''">facility_guy_mobile = #{facilityGuyMobile},</if>
            <if test="facilityGuySupervisor != null and facilityGuySupervisor != ''">facility_guy_superviosr = #{facilityGuySupervisor},</if>
            <if test="resultMessage != null and resultMessage != ''">result_message = #{resultMessage},</if>
            <if test="processingStatus != null and processingStatus != ''">processing_status = #{processingStatus},</if>
            <if test="powerAppsId != null and powerAppsId != ''">__PowerAppsId__ = #{powerAppsId},</if>
        </set>
        where ISSUE_Id = #{issueId}
    </update>
    
    <delete id="deleteComplaintOrderById" parameterType="String">
        delete from sys_complaint_order where ISSUE_Id = #{issueId}
    </delete>
    
    <delete id="deleteComplaintOrderByIds" parameterType="String">
        delete from sys_complaint_order where ISSUE_Id in 
        <foreach item="issueId" collection="array" open="(" separator="," close=")">
            #{issueId}
        </foreach>
    </delete>
    
</mapper>
