<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysEngineeringPatrolTaskLocationMapper">
    <resultMap id="SysEngineeringPatrolTaskLocationResult" type="com.ruoyi.system.domain.SysEngineeringPatrolTaskLocation">
        <id property="taskId" column="Task_ID" />
        <result property="locationId" column="Location_ID" />
    </resultMap>

    <sql id="selectPatrolTaskLocationVo">
        select Task_ID, Location_ID
        from sys_engineering_patrol_task_location
    </sql>

    <select id="selectPatrolTaskLocationById" parameterType="String" resultMap="SysEngineeringPatrolTaskLocationResult">
        select Task_ID, Location_ID
        from sys_engineering_patrol_task_location
        where Task_ID = #{taskId}
    </select>

    <select id="selectPatrolTaskLocationList" parameterType="com.ruoyi.system.domain.SysEngineeringPatrolTaskLocation" resultMap="SysEngineeringPatrolTaskLocationResult">
        <include refid="selectPatrolTaskLocationVo"/>
        <where>
            <if test="taskId != null">
                and Task_ID = #{taskId}
            </if>
            <if test="locationId != null">
                and Location_ID = #{locationId}
            </if>
        </where>
        order by Task_ID
    </select>

    <insert id="insertPatrolTaskLocation" parameterType="com.ruoyi.system.domain.SysEngineeringPatrolTaskLocation">
        insert into sys_engineering_patrol_task_location (
            Task_ID, Location_ID
        ) values (
            #{taskId}, #{locationId}
        )
    </insert>

    <insert id="batchInsertPatrolTaskLocation" parameterType="java.util.List">
        insert into sys_engineering_patrol_task_location (Task_ID, Location_ID)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.taskId}, #{item.locationId})
        </foreach>
    </insert>

    <update id="updatePatrolTaskLocation" parameterType="com.ruoyi.system.domain.SysEngineeringPatrolTaskLocation">
        update sys_engineering_patrol_task_location
        set Location_ID = #{locationId}
        where Task_ID = #{taskId}
    </update>

    <delete id="deletePatrolTaskLocationById" parameterType="String">
        delete from sys_engineering_patrol_task_location where Task_ID = #{taskId}
    </delete>

    <delete id="deletePatrolTaskLocationByIds" parameterType="String">
        delete from sys_engineering_patrol_task_location where Task_ID in
        <foreach collection="array" item="taskId" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>