<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysFixedAssetsMapper">

    <resultMap type="com.ruoyi.system.domain.SysFixedAssets" id="SysFixedAssetsResult">
        <id property="batchId" column="Batch_Id" />
        <result property="name" column="Name" />
        <result property="quantity" column="Quantity" />
        <result property="unitPrice" column="Unit_Price" />
        <result property="depreciationPrice" column="Depreciation_Price" />
        <result property="productionDate" column="Production_Date" />
        <result property="serviceLife" column="Service_Life" />
        <result property="photo" column="Photo" />
        <result property="description" column="Description" />
    </resultMap>

    <sql id="selectFixedAssetsVo">
        select Batch_Id, Name, Quantity, Unit_Price, Depreciation_Price, Production_Date, Service_Life, Photo, Description
        from sys_fixed_assets
    </sql>

    <!-- 查询条件 -->
    <sql id="sqlwhereSearch">
        <where>
            <if test="batchId != null">
                and Batch_Id = #{batchId}
            </if>
            <if test="name != null and name != ''">
                and Name like concat('%', #{name}, '%')
            </if>
        </where>
    </sql>

    <select id="selectFixedAssets" parameterType="com.ruoyi.system.domain.SysFixedAssets" resultMap="SysFixedAssetsResult">
        <include refid="selectFixedAssetsVo"/>
        <include refid="sqlwhereSearch"/>
        order by Production_Date desc
    </select>

    <select id="selectFixedAssetsList" parameterType="com.ruoyi.system.domain.SysFixedAssets" resultMap="SysFixedAssetsResult">
        <include refid="selectFixedAssetsVo"/>
        <where>
            <if test="name != null and name != ''">
                AND Name like concat('%', #{name}, '%')
            </if>
            <if test="description != null and description != ''">
                AND Description like concat('%', #{description}, '%')
            </if>
        </where>
        order by Production_Date desc
    </select>

    <select id="selectFixedAssetsById" parameterType="String" resultMap="SysFixedAssetsResult">
        <include refid="selectFixedAssetsVo"/>
        where Batch_Id = #{batchId}
        order by Production_Date desc
    </select>

    <insert id="insertFixedAssets" parameterType="com.ruoyi.system.domain.SysFixedAssets">
        insert into sys_fixed_assets (
            Batch_Id, Name, Quantity, Unit_Price, Depreciation_Price, Production_Date, Service_Life, Photo, Description
        ) values (
            #{batchId}, #{name}, #{quantity}, #{unitPrice}, #{depreciationPrice}, #{productionDate}, #{serviceLife}, #{photo}, #{description}
        )
    </insert>

    <update id="updateFixedAssets" parameterType="com.ruoyi.system.domain.SysFixedAssets">
        update sys_fixed_assets 
        <set>
            <if test="name != null and name != ''">Name = #{name},</if>
            <if test="quantity != null">Quantity = #{quantity},</if>
            <if test="unitPrice != null">Unit_Price = #{unitPrice},</if>
            <if test="depreciationPrice != null">Depreciation_Price = #{depreciationPrice},</if>
            <if test="productionDate != null">Production_Date = #{productionDate},</if>
            <if test="serviceLife != null">Service_Life = #{serviceLife},</if>
            <if test="photo != null">Photo = #{photo},</if>
            <if test="description != null and description != ''">Description = #{description},</if>
        </set>
        where Batch_Id = #{batchId}
    </update>

    <delete id="deleteFixedAssetsById" parameterType="String">
        delete from sys_fixed_assets where Batch_Id = #{batchId}
    </delete>

    <delete id="deleteFixedAssetsByIds" parameterType="String">
        delete from sys_fixed_assets where Batch_Id in 
        <foreach item="batchId" collection="array" open="(" separator="," close=")">
            #{batchId}
        </foreach>
    </delete>

</mapper>
